apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: devquote
  labels:
    app: backend
    component: api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
        component: api
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "8080"
        prometheus.io/path: "/actuator/prometheus"
    spec:
      containers:
      - name: backend
        image: wesleyeduardodev/devquote-backend:sha-70c74ba
        imagePullPolicy: Always
        ports:
        - containerPort: 8080
          name: http
        envFrom:
        - secretRef:
            name: devquote-secrets
        env:
        - name: POSTGRES_HOST
          value: "postgres-service"
        - name: POSTGRES_PORT
          value: "5432"
        - name: REDIS_HOST
          value: "redis.devquote.svc.cluster.local"
        - name: REDIS_PORT
          value: "6379"
        - name: TRACING_ENABLED
          value: "true"
        - name: OTEL_EXPORTER_OTLP_ENDPOINT
          value: "http://tempo.devquote.svc.cluster.local:4318/v1/traces"
        - name: OTEL_SERVICE_NAME
          value: "devquote-backend"
        - name: OTEL_METRICS_EXPORTER
          value: "none"
        resources:
          requests:
            memory: "512Mi"
            cpu: "400m"
          limits:
            memory: "768Mi"
            cpu: "600m"
        livenessProbe:
          httpGet:
            path: /actuator/health
            port: 8080
          initialDelaySeconds: 90
          periodSeconds: 10
          timeoutSeconds: 5
          failureThreshold: 3
        readinessProbe:
          httpGet:
            path: /actuator/health
            port: 8080
          initialDelaySeconds: 30
          periodSeconds: 5
          timeoutSeconds: 3
          failureThreshold: 3
