apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: devquote

bases:
  - ../../base

# Tags SHA das imagens (atualizadas automaticamente pelo CI/CD)
images:
  - name: wesleyeduardodev/devquote-backend
    newTag: latest  # Será substituído por sha-XXXXXXX pelo CI/CD
  - name: wesleyeduardodev/devquote-frontend
    newTag: latest  # Será substituído por sha-XXXXXXX pelo CI/CD

# Configurações específicas de produção
replicas:
  - name: backend
    count: 1
  - name: frontend
    count: 1
