apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: loki-data
  namespace: devquote
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  storageClassName: local-path  # K3s default storage class
