apiVersion: v1
kind: ConfigMap
metadata:
  name: promtail-config
  namespace: devquote
data:
  promtail.yaml: |
    server:
      http_listen_port: 9080
      log_level: info

    positions:
      filename: /tmp/positions.yaml

    clients:
      - url: http://loki:3100/loki/api/v1/push

    scrape_configs:
      # Static config - Read ALL pod logs directly
      - job_name: kubernetes-pods-static
        static_configs:
          - targets:
              - localhost
            labels:
              job: kubernetes-pods
              __path__: /var/log/pods/*/*/*.log
