apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: devquote
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/wesleyeduardodev/devquote-infra
    targetRevision: HEAD
    path: k8s
    directory:
      recurse: true

  destination:
    server: https://kubernetes.default.svc
    namespace: devquote

  syncPolicy:
    automated:
      prune: false
      selfHeal: true

    syncOptions:
      - CreateNamespace=true

  revisionHistoryLimit: 10
