apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: devquote

resources:
  # Backend
  - backend/deployment.yaml
  - backend/service.yaml

  # Frontend
  - frontend/deployment.yaml
  - frontend/service.yaml
